 .image{
        display: flex;
        margin-top: 30px;
        align-items: center;
        text-align: center;
    }

    a img{
        height: 30vh;
        
    }

    
    .lightbox{
        
        text-align: center;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        top: 0%;
        left: 0%;
        pointer-events: none;
        opacity: 0;
    }

    .lightbox img{
        height: 80vh;
    }
    .lightbox:target{
        opacity: 1;
        pointer-events: auto;
    }
